<h1>Modification d'un programme</h1>

<%= render 'form', programme: @programme %>

<hr/>

<%= link_to 'Voir', @programme, class: "ui button mini" %> |
<%= link_to 'Retour', programmes_path, class: "ui button mini" %>
