<h1>Modification d'une session</h1>

<%= render 'form', dmsession: @dmsession %>

<hr/>
<%= link_to 'Voir', @dmsession, class: "ui button mini" %> |
<%= link_to 'Retour', dmsessions_path, class: "ui button mini" %>
