<h1>Tous les utilisateurs</h1>

<%= will_paginate %>


<table>
    <thead>
        <tr>
            <th>Civilité</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Profil</th>
            <th>Société</th>
            <th colspan="3"></th>
        </tr>
    </thead>

<tbody>
		<%= render @users %>
</tbody>


</table>


<%= will_paginate %>

<br/>

<%= link_to 'Créer un nouvel utilisateur', new_user_path %>

