<h1>Inscription</h1>
<%= form_for(@user) do |f| %>

	<%= render 'fields', :f => f %>

  <div class="actions">
    <%= f.submit "Enregistrer", class: "ui button blue mini" %>
     <%= link_to 'Retour', users_path, class: "ui button mini" %>
  </div>

<% end %>
