<h1>Aide</h1>
<% if !signed_in? %>
<p>
Veuillez vous <%= link_to "identifier", signin_path %> avec le compte qui vous a été communiqué. Si vous n'en avez pas, contactez l'administrateur du site.
</p>
<% else %>
<h5>Définition</h5>
<p>
Un programme est représenté par un responsable et des documents associés. Un programme contient plusieurs sessions. Une session est représentée par un responsable, un médecin référent, des documents et des participants. Une session contient plusieurs réunions. Chaque réunion est définie par un ordre du jour, une feuille de présence et des documents.
</p>

<h5>Gestion des droits</h5>
<p>
<ul>
<li>les administrateurs du site peuvent gérer les utilisateurs, créer des sociétés, créer des programmes, créer des sessions, créer des réunions</li>
<li>les responsables de programme peuvent consulter, modifier et supprimer les réunions qui les concernent</li>
<li>les responsables de session peuvent consulter, modifier et supprimer les réunions qui les concernent</li>
<li>les modérateurs et secrétaires peuvent consulter, modifier et supprimer les réunions qui les concernent</li>
<li>les participants identifiés dans les sessions peuvent consulter les réunions qui les concernent</li>
</ul>
</p>

<h5>Création des comptes</h5>
<p>
Chaque personne a la possibilité de créer un compte. Seul l'administrateur peut les associer dans des sessions. L'administrateur a également la possibiité de créer les comptes.
</p>
<% end %>
