<h1>Modification d'une réunion</h1>

<%= render 'form', reunion: @reunion %>

<hr/>
<%= link_to 'Voir', @reunion, class: "ui button mini" %> | <%= link_to 'Retour', reunions_path, class: "ui button mini" %>
